.validation-error {
    border-style:solid;
    border-color:red;
    border-width:1px;
    font-weight:bold;
    padding:3px;
}

.validation-error:hover {
    border-style:solid;
    border-color:red;
    border-width:1px;
    font-weight:bold;
    color:white;
    padding:3px;
    background:red;
}

/* Firefox */
.tabulator{
    scrollbar-color: red white;
    scrollbar-width:10pt;
}

/* WebKit and Chromiums */
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0px;
}

::placeholder {
    color:#666;
    font-weight:bold;
}
